<form
  class="max-w-sm mx-auto py-8"
  #userForm="ngForm"
  novalidate
  (ngSubmit)="onSubmit()"
>
  <!-- {{ userForm.value | json }}
  <hr />
  {{ userModel | json }} -->
  <h1 class="text-3xl text-center font-bold my-3">TDF Form</h1>
  <div class="mb-5">
    <label
      class="block mb-2 text-sm font-medium"
      [class.text-red-700.dark:text-red-500]="name.invalid && name.touched"
      >Your name</label
    >
    <input
      type="text"
      name="username"
      class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
      placeholder="name"
      required
      [(ngModel)]="userModel.name"
      #name="ngModel"
      [class.bg-red-50.border.border-red-500.text-red-900.placeholder-red-700.text-red-700.dark:text-red-500]="
        name.invalid && name.touched
      "
    />
    <!-- {{ name.invalid }} -->
    <!-- single validation rule -->
    <p
      [class.hidden]="name.valid || name.untouched"
      class="mt-2 text-sm text-red-600 dark:text-red-500"
    >
      Username is required.
    </p>
  </div>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium">Your email</label>
    <input
      type="email"
      name="email"
      class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
      placeholder="email"
      required
      [(ngModel)]="userModel.email"
    />
  </div>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium">Your phone</label>
    <input
      type="tel"
      name="phone"
      class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
      placeholder="phone"
      required
      [(ngModel)]="userModel.phone"
      #phone="ngModel"
      pattern="^\d{10}$"
    />
    <!-- multiple validation rules -->
    <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
      <p
        *ngIf="phone.errors['required']"
        class="mt-2 text-sm text-red-600 dark:text-red-500"
      >
        Phone number is required.
      </p>
      <p
        *ngIf="phone.errors['pattern']"
        class="mt-2 text-sm text-red-600 dark:text-red-500"
      >
        Phone number must be of 10 digits.
      </p>
    </div>
  </div>
  <!-- <div ngModelGroup="address">
    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium">Your City</label>
      <input
        type="text"
        name="city"
        class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
        placeholder="city"
        required
        [(ngModel)]="userModel.name"
      />
    </div>
    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium">Your Country</label>
      <input
        type="text"
        name="country"
        class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
        placeholder="country"
        required
        ngModel
      />
    </div>
  </div> -->
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium">Select your topic</label>
    <select
      name="topic"
      class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
      [(ngModel)]="userModel.topic"
    >
      <option selected value="">I am interested in</option>
      <option *ngFor="let topic of topics">{{ topic }}</option>
    </select>
  </div>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium">Time Preferences</label>

    <fieldset>
      <legend class="sr-only">Time Preferences</legend>
      <div class="flex justify-center items-center">
        <div class="flex items-center mr-4">
          <input
            type="radio"
            name="time_pref"
            value="am"
            class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
            checked
            [(ngModel)]="userModel.time_pref"
          />
          <label class="block ms-2 text-sm font-medium">
            Morning (9AM - 12PM)
          </label>
        </div>
        <div class="flex items-center">
          <input
            type="radio"
            name="time_pref"
            value="pm"
            class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
            checked
            [(ngModel)]="userModel.time_pref"
          />
          <label class="block ms-2 text-sm font-medium">
            Evening (5PM - 8PM)
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="flex items-start mb-5">
    <div class="flex items-center h-5">
      <input
        name="sendOffer"
        type="checkbox"
        [(ngModel)]="userModel.sendOffer"
        class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
      />
    </div>
    <label class="ms-2 text-sm font-medium">Send me promotional offers</label>
  </div>
  <button
    type="submit"
    [disabled]="userForm.form.invalid || success || error || loading"
    [ngClass]="
      userForm.form.invalid || success || error || loading
        ? 'opacity-50 cursor-default'
        : 'cursor-pointer'
    "
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    <span *ngIf="!loading">Submit</span>
    <div role="status" *ngIf="loading">
      <svg
        aria-hidden="true"
        class="inline w-4 h-4 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"
        />
      </svg>
      <span class="sr-only">Loading...</span>
    </div>
  </button>
</form>
<div
  class="absolute top-20 right-4 p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
  role="alert"
  *ngIf="success"
>
  <span class="font-medium">Data submitted successfully!!</span>
</div>
<div
  class="absolute top-20 right-4 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
  role="alert"
  *ngIf="error"
>
  <span class="font-medium">Error!! Something Went Wrong.</span>
</div>
