<form class="max-w-sm mx-auto py-8" #userForm="ngForm">
  <!-- {{ userForm.value | json }}
  <hr />
  {{ userModel | json }} -->
  <h1 class="text-3xl text-center font-bold my-3">TDF Form</h1>
  <div class="mb-5">
    <label
      class="block mb-2 text-sm font-medium"
      [class.text-red-700.dark:text-red-500]="name.invalid && name.touched"
      >Your name</label
    >
    <input
      type="text"
      name="username"
      class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
      placeholder="name"
      required
      [(ngModel)]="userModel.name"
      #name="ngModel"
      [class.bg-red-50.border.border-red-500.text-red-900.placeholder-red-700.text-red-700.dark:text-red-500]="
        name.invalid && name.touched
      "
    />
    <!-- {{ name.invalid }} -->
    <!-- single validation rule -->
    <p
      [class.hidden]="name.valid || name.untouched"
      class="mt-2 text-sm text-red-600 dark:text-red-500"
    >
      Username is required.
    </p>
  </div>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium">Your email</label>
    <input
      type="email"
      name="email"
      class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
      placeholder="email"
      required
      [(ngModel)]="userModel.email"
    />
  </div>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium">Your phone</label>
    <input
      type="tel"
      name="phone"
      class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
      placeholder="phone"
      required
      [(ngModel)]="userModel.phone"
      #phone="ngModel"
      pattern="^\d{10}$"
    />
    <!-- multiple validation rules -->
    <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
      <p
        *ngIf="phone.errors['required']"
        class="mt-2 text-sm text-red-600 dark:text-red-500"
      >
        Phone number is required.
      </p>
      <p
        *ngIf="phone.errors['pattern']"
        class="mt-2 text-sm text-red-600 dark:text-red-500"
      >
        Phone number must be of 10 digits.
      </p>
    </div>
  </div>
  <!-- <div ngModelGroup="address">
    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium">Your City</label>
      <input
        type="text"
        name="city"
        class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
        placeholder="city"
        required
        [(ngModel)]="userModel.name"
      />
    </div>
    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium">Your Country</label>
      <input
        type="text"
        name="country"
        class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
        placeholder="country"
        required
        ngModel
      />
    </div>
  </div> -->
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium">Select your topic</label>
    <select
      name="topic"
      class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
      [(ngModel)]="userModel.topic"
    >
      <option selected value="">I am interested in</option>
      <option *ngFor="let topic of topics">{{ topic }}</option>
    </select>
  </div>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium">Time Preferences</label>

    <fieldset>
      <legend class="sr-only">Time Preferences</legend>
      <div class="flex justify-center items-center">
        <div class="flex items-center mr-4">
          <input
            type="radio"
            name="time_pref"
            value="am"
            class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
            checked
            [(ngModel)]="userModel.time_pref"
          />
          <label class="block ms-2 text-sm font-medium">
            Morning (9AM - 12PM)
          </label>
        </div>
        <div class="flex items-center">
          <input
            type="radio"
            name="time_pref"
            value="pm"
            class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
            checked
            [(ngModel)]="userModel.time_pref"
          />
          <label class="block ms-2 text-sm font-medium">
            Evening (5PM - 8PM)
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="flex items-start mb-5">
    <div class="flex items-center h-5">
      <input
        name="sendOffer"
        type="checkbox"
        [(ngModel)]="userModel.sendOffer"
        class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
      />
    </div>
    <label class="ms-2 text-sm font-medium">Send me promotional offers</label>
  </div>
  <button
    type="submit"
    [disabled]="userForm.form.invalid"
    [ngClass]="
      userForm.form.invalid ? 'opacity-50 cursor-default' : 'cursor-pointer'
    "
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
</form>
