<div class="mx-32 mt-6">
  <h1 class="text-center font-bold text-3xl text-gray-800 mb-6">Post Detail</h1>
  <p class="text-red-600">{{ errorMsg }}</p>
  <div class="flex h-auto">
    <div
      class="mx-auto max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
    >
      <h5
        class="mb-2 text-xl w-14 h-14 rounded-full bg-gray-100 p-2 font-semibold tracking-tight flex justify-center items-center text-gray-800"
      >
        {{ postData.id }}
      </h5>
      <h5
        class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white cursor-pointer"
        (click)="onSelectPost(postData.id.toString())"
      >
        {{ postData.title }}
      </h5>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
        {{ postData.body }}
      </p>
    </div>
  </div>
  <p>
    <button
      (click)="hideComments()"
      *ngIf="isComments"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 cursor-pointer"
    >
      Hide Comments
    </button>
    <button
      (click)="showComments()"
      *ngIf="!isComments"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 cursor-pointer"
    >
      Show comments
    </button>
  </p>
  <router-outlet></router-outlet>
  <a
    routerLink="/posts"
    class="float-center w-fit my-3 rounded-lg shadow-sm bg-white dark:bg-gray-800 p-2 font-semibold tracking-tight flex justify-center items-center text-gray-800 dark:text-white cursor-pointer"
  >
    Go Back
  </a>
</div>
