<div class="max-w-sm mx-auto py-8">
  <h1 class="text-4xl text-center font-bold mb-6">Registration</h1>
  <form [formGroup]="regForm">
    <div class="mb-5">
      <label
        class="block mb-2 text-sm font-medium"
        [class.text-red-700.dark:text-red-500]="
          regForm.get('userName')?.invalid && regForm.get('userName')?.touched
        "
        >Username</label
      >
      <input
        type="text"
        formControlName="userName"
        [class.bg-red-50.border.border-red-500.text-red-900.placeholder-red-700.text-red-700.dark:text-red-500]="
          regForm.get('userName')?.invalid && regForm.get('userName')?.touched
        "
        class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
      />
      <!-- <p
        [class.hidden]="
          regForm.get('userName')?.valid || regForm.get('userName')?.untouched
        "
        class="mt-2 text-sm text-red-600 dark:text-red-500"
      >
        Username is required.
      </p> -->
      <div
        *ngIf="
          regForm.get('userName')?.invalid && regForm.get('userName')?.touched
        "
        class="mt-2 text-sm text-red-600 dark:text-red-500"
      >
        <p *ngIf="regForm.get('userName')?.errors?.['required']">
          Username is required
        </p>
        <p *ngIf="regForm.get('userName')?.errors?.['forbiddenName']">
          {{regForm.get('userName')?.errors?.['forbiddenName'].value}} username
          not allowed
        </p>
      </div>
    </div>
    <div class="mb-5">
      <label
        class="block mb-2 text-sm font-medium"
        [class.text-red-700.dark:text-red-500]="
          password?.invalid && password?.touched
        "
        >Password</label
      >
      <input
        type="text"
        formControlName="password"
        [class.bg-red-50.border.border-red-500.text-red-900.placeholder-red-700.text-red-700.dark:text-red-500]="
          password?.invalid && password?.touched
        "
        class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
      />
      <div
        *ngIf="password?.invalid && password?.touched"
        class="mt-2 text-sm text-red-600 dark:text-red-500"
      >
        <p *ngIf="password?.errors?.['required']">Password is required.</p>
        <p *ngIf="password?.errors?.['minlength']">
          Password must be of at least 5 characters.
        </p>
      </div>
    </div>
    <div class="mb-5">
      <label
        class="block mb-2 text-sm font-medium"
        [class.text-red-700.dark:text-red-500]="
          confirmPassword?.invalid && confirmPassword?.touched
        "
        >Confirm Password</label
      >
      <input
        type="text"
        formControlName="confirmPassword"
        [class.bg-red-50.border.border-red-500.text-red-900.placeholder-red-700.text-red-700.dark:text-red-500]="
          confirmPassword?.invalid && confirmPassword?.touched
        "
        class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
      />
      <div class="mt-2 text-sm text-red-600 dark:text-red-500">
        <p *ngIf="confirmPassword?.invalid && confirmPassword?.touched">
          Confirm Password is required.
        </p>
        <p
          *ngIf="confirmPassword?.value.length > 0 && regForm?.errors?.['mismatch']"
        >
          Passwords do not match.
        </p>
      </div>
    </div>
    <!-- conditional validation -->
    <div class="mb-5">
      <div class="flex justify-start items-center mb-3">
        <label
          class="block mb-2 text-sm font-medium"
          [class.text-red-700.dark:text-red-500]="
            email?.invalid && email?.touched
          "
          >Email</label
        >
        <button
          type="submit"
          (click)="addAlternateEmailFields()"
          class="cursor-pointer ml-3 text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs w-full sm:w-auto px-5 py-1 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
        >
          Add Email
        </button>
      </div>
      <input
        type="email"
        formControlName="email"
        [class.bg-red-50.border.border-red-500.text-red-900.placeholder-red-700.text-red-700.dark:text-red-500]="
          email?.invalid && email?.touched
        "
        class="text-sm mb-5 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
      />
      <div
        formArrayName="alternateEmail"
        *ngFor="let email of alternateEmail.controls; let i = index"
      >
        <input
          type="email"
          [formControlName]="i"
          class="text-sm mb-5 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
        />
      </div>
      <div class="mt-2 text-sm text-red-600 dark:text-red-500">
        <p *ngIf="email?.invalid && email?.touched">Email is required.</p>
      </div>
    </div>

    <div class="flex items-start mb-5">
      <div class="flex items-center h-5">
        <input
          formControlName="subscribe"
          type="checkbox"
          class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
        />
      </div>
      <label class="ms-2 text-sm font-medium">Send me promotional offers</label>
    </div>

    <!-- nested form group -->

    <div class="flex justify-start items-center">
      <label class="block mb-2 text-sm font-medium">Address</label>
      <button
        type="submit"
        (click)="addAlternateAddressFields()"
        class="cursor-pointer ml-3 text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs w-full sm:w-auto px-5 py-1 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
      >
        Add More Addresses
      </button>
    </div>
    <div formGroupName="address">
      <div class="mb-5">
        <label class="block mb-2 text-sm font-medium">City</label>
        <input
          type="text"
          formControlName="city"
          class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
        />
      </div>
      <div class="mb-5">
        <label class="block mb-2 text-sm font-medium">Country</label>
        <input
          type="text"
          formControlName="country"
          class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
        />
      </div>
    </div>
    <div formArrayName="alternateAddress">
      <div
        *ngFor="let address of alternateAddress.controls; let i = index"
        [formGroupName]="i"
      >
        <button
          type="submit"
          (click)="removeField(i)"
          class="cursor-pointer mb-5 w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
        >
          Remove added address
        </button>
        <div class="mb-5">
          <label class="block mb-2 text-sm font-medium">City</label>
          <input
            type="text"
            formControlName="city"
            class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
          />
        </div>
        <div class="mb-5">
          <label class="block mb-2 text-sm font-medium">Country</label>
          <input
            type="text"
            formControlName="country"
            class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border border-gray-300"
          />
        </div>
      </div>
    </div>

    {{ regForm.value | json }}
    <br />
    <div class="flex justify-start items-center mt-3">
      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Register
      </button>
      <button
        type="submit"
        (click)="loadApiData()"
        class="ml-3 text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
      >
        Load API Data
      </button>
    </div>
  </form>
</div>
